.edit_wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  margin-top: 40px;
}

.view_input_box {
  font-size: 16px;
  padding: 20px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}
.view_input_box label {
  height: 35px;
  margin-right: 10px;
}

.view_input_box input {
  text-align: center;
  width: 150px;
  padding-bottom: 16px;
  font-size: 14px;
}
.view_input_box p {
  border: 1px solid rgb(0, 0, 0, 0.5);
  width: 150px;
  font-size: 14px;
  height: 35px;
  text-align: center;
}

.view_input_box input:focus {
  border: 3px solid #81abbb;
  outline: none;
  height: 35px;
  width: 150px;
  padding-bottom: 0;
  font-size: 12px;
}
