.modal_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.modal_button {
  border: none;
  background-color: var(--button-color);
  color: white;
  padding: 20px;
  border-radius: 30px;
  box-shadow: var(--basic-box-shadow);
  text-shadow: var(--basic-text-shadow);
}
.open_modal_background {
  position: absolute;
  width: 101%;
  height: 101%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: -1;
}
.modal_box {
  background-color: white;
  height: 100px;
  width: 300px;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 26%;
  border-radius: 15px;
}
.modal_box button {
  background-color: white;
  border: none;
  cursor: pointer;
  margin-top: 5px;
  padding: 0;
}
.modal_box span:last-child {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
}
